
/* Basic styling */

.jumbotron {
  /*background-image: url('Colin2.jpg'); */
  background-color: red;
  height: 50%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
		/* background-size: cover; */
    background-position:  center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Main Body below header */
.home-text {
	color: black;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}


/*  Main Menu  */

.Services{
    text-align:   center;
}

.column-left{ 
    background:  #F5F5DC;
   
    display: inline-block;
    float:          left;
    width:           50%; 
    height:          50%;
    min-width:     350px;
}

.column-right{ 
    
    background:  	#FFE4B5;
    display:  inline-block; 
    width:            50%; 
    height:           50%; 
    min-width:      350px;
}





